*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: black;
}

input{

    margin: 6px;
    width: 24%;
    height: 117px;
    font-size: 30px;
}
.eee{
    width: 99%;
    height: 245px;
    background-color: silver;
}